.form_app{
  text-align: center;
  display:flex;

}

.formulario{
  margin-left:35%;
}

.tabela{
  display:flex;
  margin-left:85px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

